html {
  font-family: "Lato", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

body {
  margin: 0;
}

#main {
  margin: 50px 125px;
}

#nav {
  background: #e4874c;
  padding: 5px;
}

#home {
  text-align: center;
}

#banner {
  font-size: 35px;
}

button {
  background-color: #e4874c;
  height: 50px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  color: white;
  padding: 5px 20px;
  margin-top: 15px;
  font-weight: bold;
}

#nav > a {
  background-image: url("./http.png");
  background-repeat: no-repeat;
  background-size: 45px 45px;
  padding-left: 75px;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0 20px 150px;
  text-decoration: none;
  color: black;
  line-height: 75px;
}

.top {
  background: #e4874c;
  padding: 10px 15px;
}

.bottom {
  padding: 15px;
  margin-bottom: 25px;
}

.request {
  border: 1px solid rgb(222, 222, 222);
  margin-bottom: 25px;
}

.method > p{
  margin: 5px 0;
}

.method {
  width: 40%;
}

.time {
  vertical-align: top;
  width: 59%;
}

.method-inner {
  display: flex;
  justify-content: left;
}

.method, .time {
  display: inline-block;
  padding-top: 10px;
}

.body {
  width: 40%;
}

.headers {
  width: 59%;
}

.body, .headers {
  display: inline-block;
  vertical-align: top;
}

.key-value {
  display: flex;
  justify-content: left;
}

.key {
  padding-right: 5px;
  font-weight: bold;
}

.section-heading {
  font-weight: 700;
  color: rgb(104, 101, 101);
  margin-bottom: 0;
}

#part-1 {
  padding-bottom: 25px;
}

#border {
  border-bottom: 1px solid #367f8f;
  width: 20%;
  margin: 0 auto;
}

#part-2 {
  padding-top: 25px;
}

form {
  padding-top: 25px;
}